<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>title</title>
</head>
<body>
	<section>
		<div th:if="${session.message}"
			th:classappend="${session.message.type}"
			class="alert alert-dismissible" role="alert">
			<p th:text="${session.message.content}"></p>
			<button type="button" class="btn-close" data-bs-dismiss="alert"
				aria-label="Close">
			</button>
			<th:block th:text="${#session.removeAttribute('message')}"></th:block>
		</div>
		
		<div class="banner d-flex justify-content-center align-items-center">
			<div class="text-center">
				<h2 class="font-weight-bold">Society Management System</h2>

				<p>We are providing online management of society's basic
					activity</p>
				<button class="btn bg-primary btn-lg text-white">Get
					Started</button>
			</div>
		</div>
	</section>

</body>
</html>