<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>title</title>
<body>
	<section>
		<div id="logreg-forms">
			<form method="post" action="/login">
				<div class="mb-3">
					<h3 class="text-center text-info">Login</h3>
					<div th:if="${param.error}" class="alert alert-danger">Invalid
						Username Password</div>
					<div th:if="${param.logout}" class="alert alert-success">You
						are Logout Successfully</div>
					<label for="email" class="form-label">Email address</label> <input
						type="email" class="form-control" id="email" name="username"
						aria-describedby="emailHelp">
					<div id="emailHelp" class="form-text"></div>
				</div>
				<div class="mb-3">
					<label for="password" class="form-label">Password</label> <input
						type="password" class="form-control" name="password" id="password">
				</div>
				<div class="d-grid gap-2">
					<button type="submit" class="btn btn-success">
						<i class="fas fa-sign-in-alt"> Sign In</i>
					</button>
					<hr>
					<ul class="list-inline text-center">
						<li class="list-inline-item">Don't have an account?</li>
						<li class="list-inline-item"><a href="/signup"
							class="text-primary">Sign up here</a></li>
					</ul>

				</div>

			</form>
		</div>
		<script>
			document.getElementById("base").onload=()=>displayTestUser();
		</script>
	</section>
</body>
</html>