
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="user/base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>title</title>
</head>
<body>
	<section>
		<div class="table-responsive">
			<table
				class="table caption-top table-hover table-success table-striped table-bordered border-secondary align-middle">
				<caption class="text-center mytable table-dark mb-2 mt-2 h3">
					<span style="float: left" class="ms-2">Maintenance Bill</span><span
						style="float: right"><div class="container">
							<form id="bill" th:action="@{maintenance}" method="post">
								<div class="form-group">
									<div class="input-group">
										<input type="text" class="form-control" name="forMonthYear"
											placeholder="Choose Month-Year" autocomplete="off"
											id="forMonthYear"
											onchange="document.getElementById('bill').submit();" /> <span
											class="input-group-text"><i
											class="far fa-calendar-alt"></i></span>
									</div>
								</div>
							</form>

						</div></span>
				</caption>
				<thead class="table-warning" th:unless="${#lists.isEmpty(expenses)}">
					<tr>
						<th scope="col">SR No</th>
						<th scope="col">Expense Name</th>
						<th scope="col">Expense Type</th>
						<th scope="col">Date</th>
						<th scope="col">Amount</th>

					</tr>
				</thead>
				<tbody>
					<tr th:each="expense,iState:${expenses}">
						<th scope="row" th:text="${iState.index+1}"></th>

						<td th:text="${expense.expenseName}"></td>
						<td th:text="${expense.expenseType}"></td>
						<td th:text="${expense.timeStamp}"></td>
						<td th:text="${expense.amount}" style="text-align: right;"
							class="pe-2"></td>

					</tr>
					<tr th:unless="${#lists.isEmpty(expenses)}">
						<td colspan=4 style="text-align: right;" class="pe-3 fw-bolder">Total
							Amount</td>
						<td th:text="${total}" style="text-align: right;"
							class="pe-2 fw-bolder"></td>
					</tr>
					</th:block>
				</tbody>

			</table>
			<div class="text-center" th:if="${#lists.isEmpty(expenses)}">No
				data available for this month</div>
		</div>
	</section>

</body>
</html>